:root {
  --link-color--link-primary: var(--base-color-brand--blue);
  --background-color--background-primary: var(--base-color-neutral--black);
  --text-color--text-alternate: var(--base-color-neutral--white);
  --text-color--text-primary: var(--base-color-neutral--black);
  --text-color--text-secondary: var(--base-color-neutral--neutral-darker);
  --background-color--background-success: var(--base-color-system--success-green);
  --text-color--text-success: var(--base-color-system--success-green-dark);
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --background-color--background-alternate: var(--base-color-neutral--white);
  --background-color--background-secondary: var(--base-color-brand--blue);
  --background-color--background-tertiary: var(--base-color-brand--pink);
  --background-color--background-error: var(--base-color-system--error-red);
  --text-color--text-error: var(--base-color-system--error-red-dark);
  --accent-color: #c1ff3d;
  --link-color--link-secondary: var(--base-color-neutral--black);
  --background-color--background-warning: var(--base-color-system--warning-yellow);
  --text-color--text-warning: var(--base-color-system--warning-yellow-dark);
  --border-color--border-secondary: var(--base-color-brand--blue);
  --border-color--border-alternate: var(--base-color-neutral--neutral-darker);
  --link-color--link-alternate: var(--base-color-neutral--white);
  --base-color-brand--blue-light: #d9e5ff;
  --base-color-brand--blue: #2d62ff;
  --base-color-brand--blue-dark: #080331;
  --base-color-brand--pink-light: #ffaefe;
  --base-color-brand--pink: #dd23bb;
  --base-color-brand--pink-dark: #3c043b;
  --base-color-neutral--black: #000;
  --base-color-neutral--white: #fff;
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-neutral--neutral-lighter: #ccc;
  --base-color-neutral--neutral-light: #aaa;
  --base-color-neutral--neutral: #666;
  --base-color-neutral--neutral-dark: #444;
  --base-color-neutral--neutral-darker: #222;
  --base-color-neutral--neutral-darkest: #111;
  --base-color-system--success-green: #cef5ca;
  --base-color-system--success-green-dark: #114e0b;
  --base-color-system--warning-yellow: #fcf8d8;
  --base-color-system--warning-yellow-dark: #5e5515;
  --base-color-system--error-red: #f8e4e4;
  --base-color-system--error-red-dark: #3b0b0b;
  --base-color-system--focus-state: #2d62ff;
}

.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 7rem;
  font-style: italic;
  font-weight: 800;
  line-height: .9;
}

h2 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 3.125rem;
  font-style: italic;
  font-weight: 800;
  line-height: .9;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  color: #fff;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

a {
  color: var(--link-color--link-primary);
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 20rem;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(45, 64, 234, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  flex: none;
  width: 1rem;
  height: 1rem;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  width: 100%;
  padding-bottom: 2rem;
}

.background-color-primary {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-primary {
  color: var(--text-color--text-primary);
}

.text-color-secondary {
  color: var(--text-color--text-secondary);
}

.fs-styleguide_2-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  background-color: var(--background-color--background-success);
  color: var(--text-color--text-success);
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.text-rich-text blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padding-global.is-fullbody {
  width: 100%;
  height: 100%;
  position: static;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

.text-style-italic {
  font-style: italic;
}

.pointer-events-none {
  pointer-events: none;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--border-color--border-primary);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  background-color: rgba(45, 64, 234, .05);
  border: 1px dashed #2d40ea;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.background-color-alternate {
  background-color: var(--background-color--background-alternate);
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.text-size-small.is-white {
  color: #fff;
  position: static;
  top: auto;
  bottom: 4.5%;
  left: 22%;
  right: auto;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-secondary {
  background-color: var(--background-color--background-secondary);
}

.form_input {
  border: 1px solid var(--border-color--border-primary);
  background-color: rgba(0, 0, 0, 0);
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input::placeholder {
  color: var(--text-color--text-secondary);
}

.form_input.is-select-input {
  color: var(--text-color--text-secondary);
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.padding-section-large.is-slider {
  padding-top: 16rem;
  padding-bottom: 1rem;
}

.fs-styleguide_3-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
  background-image: radial-gradient(circle at 100% 100%, rgba(221, 35, 187, .25), rgba(0, 0, 0, 0) 40%), radial-gradient(circle at 0 100%, rgba(45, 98, 255, .3), rgba(0, 0, 0, 0) 60%);
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.page-wrapper {
  overflow: hidden;
}

.fs-styleguide_label {
  background-color: var(--background-color--background-secondary);
  color: var(--text-color--text-alternate);
  border-radius: .25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: var(--background-color--background-tertiary);
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  background-color: var(--background-color--background-error);
  color: var(--text-color--text-error);
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.main-wrapper {
  flex-flow: column;
  overflow: hidden;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--accent-color);
  color: var(--link-color--link-secondary);
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  padding: .6rem 2.25rem;
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-weight: 800;
}

.button.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-brand {
  background-color: var(--background-color--background-secondary);
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: none;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.fs-styleguide_spacer-box {
  background-color: rgba(45, 64, 234, .1);
  border: 1px dashed #2d40ea;
  width: 100%;
  position: relative;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.spacer-large {
  padding-top: 3rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.fs-styleguide_message {
  background-color: var(--background-color--background-warning);
  color: var(--text-color--text-warning);
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
}

.nav_component {
  background-color: #000;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_logo {
  width: 10rem;
}

.nav_menu_link {
  color: #fff;
  padding: 1rem;
}

.nav_button {
  padding: 1rem;
}

.aspect-ratio-square {
  aspect-ratio: 1;
  object-fit: cover;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.background-color-tertiary {
  background-color: var(--background-color--background-tertiary);
}

.fs-styleguide_hero-label {
  color: var(--text-color--text-primary);
  text-transform: uppercase;
  background-color: #eee;
  border-radius: .25rem;
  padding: .25rem .375rem;
  font-size: .75rem;
  font-weight: 500;
  text-decoration: none;
}

.hero_content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  max-width: 70rem;
  display: grid;
  position: relative;
}

.hero_image {
  border-radius: 1rem;
  margin-top: 0;
}

.hero_heading {
  font-size: 4rem;
}

.section_hero {
  color: #fff;
  background-color: #000;
  background-image: radial-gradient(circle at 0 100%, rgba(45, 98, 255, .3), rgba(0, 0, 0, 0) 50%), radial-gradient(circle at 100% 60%, rgba(45, 98, 255, .3), rgba(17, 17, 17, 0) 20%), radial-gradient(circle at 100% 100%, rgba(214, 0, 196, .2), rgba(0, 0, 0, 0) 45%);
  flex-direction: column;
  justify-content: center;
  min-height: 100svh;
  display: flex;
  position: relative;
}

.hero_grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.nav_fixed {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.fs-styleguide_heading-header {
  font-size: 6rem;
}

.section_hero-br {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero_alienimg {
  z-index: 2;
  height: 110vh;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: auto;
  bottom: 10%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  transform: scale(1.3);
}

.hero-img_wrapper {
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: static;
  top: -26%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.body {
  background-color: #000;
}

.hero-heading_wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.hero_headingbr {
  color: #fff;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 20rem;
  font-weight: 800;
  line-height: .8;
}

.hero_headingbr.is-first {
  font-size: 15vw;
  transform: translate(-11rem);
}

.hero_headingbr.is-second {
  font-size: 15vw;
  transform: translate(20rem);
}

.whitelight {
  z-index: 0;
  filter: blur(120px);
  background-color: #fff;
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  position: absolute;
  top: -17%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.whitelight.is-introduction {
  filter: blur(140px);
  top: 25%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.hero_divider {
  background-color: #151515;
  background-image: url('../images/10491057-2.png');
  background-position: 0 0;
  background-size: auto;
  width: 100%;
  height: 1rem;
}

.section_trailer {
  overflow: hidden;
}

.trailer_video {
  width: 100%;
  height: 100vh;
  display: none;
}

.background-video_wrapper-2 {
  z-index: -1;
  width: 100%;
  position: relative;
}

.sidebar_line-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -6vh;
  display: flex;
}

.play-control_wrapper {
  opacity: .66;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  transition: all .3s;
  display: flex;
  position: static;
  top: auto;
  bottom: 5.2%;
  left: auto;
  right: 11%;
}

.play-control_wrapper:hover {
  opacity: 1;
}

.background_video_container {
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.sidebar-logo_wrapper {
  border: 1px solid #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
}

.video-controls_wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: static;
  top: auto;
  bottom: 3%;
  left: auto;
  right: 3%;
}

.navbar_log-wrapper {
  z-index: 11;
  opacity: 1;
  transition: opacity .25s;
  position: relative;
  top: -.25rem;
  left: 0;
}

.navbar_log-wrapper:hover {
  opacity: .66;
}

.navbar_log-wrapper.w--current {
  opacity: 1;
  padding-left: 1px;
}

.navbar_log-wrapper.w--current:hover {
  opacity: .66;
}

.hero-bottom_container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 2.8rem;
  padding-right: 2.5rem;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 5%;
  left: 0%;
  right: 0%;
}

.hamburger-lottie {
  width: 60%;
}

.background-video {
  height: 100vh;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.sidebar-icons_wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sidebar_logo {
  width: 3.5rem;
}

.sidebar_logo.is-discord {
  width: 70%;
}

.sidebar_logo.is-twitter {
  width: 85%;
}

.section_hero-2 {
  object-fit: contain;
  height: 100vh;
  position: relative;
  overflow: visible;
}

.sidebar-icons_link-block {
  transition: all .3s;
}

.sidebar-icons_link-block:hover {
  transform: scale(1.3);
}

.sound-control_lottie {
  width: 70%;
}

.sidebar_line {
  background-color: rgba(255, 255, 255, .37);
  width: .5px;
  height: 25vh;
  margin-top: 2.5rem;
  margin-bottom: .5rem;
}

.sidebar_line.is-small {
  height: 5vh;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sidebar_line.is-bottom {
  margin-top: .5rem;
  margin-bottom: 4rem;
}

.sidebar_component {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 10rem;
  padding-top: 1.6rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: auto;
}

.sound-control_wrapper {
  opacity: .66;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  transition: all .3s;
  display: flex;
  position: static;
  top: auto;
  bottom: 5.2%;
  left: auto;
  right: 5.1%;
}

.sound-control_wrapper:hover {
  opacity: 1;
}

.play-control_lottie {
  width: 50%;
}

.hamburger_wrapper {
  z-index: 9999;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-top: 1rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 5%;
}

.section_introduction {
  position: relative;
  overflow: hidden;
}

.divider {
  width: 5rem;
  height: 1px;
}

.divider.is-introduction {
  background-color: #fff;
  width: 7rem;
  height: 2px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.divider.is-legendary {
  background-color: #fff;
  width: 4rem;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.introduction_button-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  display: flex;
}

.introduction_button-wrapper.is-cta {
  justify-content: center;
  margin-top: 6rem;
}

.introduction_paragraph {
  max-width: 95ch;
  margin-bottom: 2rem;
  font-size: .9rem;
  font-weight: 400;
}

.text-span {
  color: var(--accent-color);
}

.padding-section_introduction {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.section_fullbody {
  position: relative;
  overflow: hidden;
}

.fullbody_wrapper {
  background-image: url('../images/Standing-Alien---final3-2.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 1500px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.fullbody_img {
  z-index: 0;
  width: 100%;
  max-width: none;
  display: none;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fullbody_text-wrapper {
  z-index: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 8rem;
  margin-left: 5vw;
  display: flex;
  position: relative;
  overflow: hidden;
}

.fullbody_text-wrapper.is-second {
  z-index: 1;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 5vw 6rem 0;
}

.fullbody-text_heading.is-black {
  color: #000;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.fullbody-text_heading.is-white {
  color: #fff;
  margin-bottom: 1rem;
  margin-right: 2.5rem;
}

.text-span-2 {
  color: var(--accent-color);
}

.fullbody-text_paragraph.is-black {
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  color: #000;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0%;
  max-width: 40ch;
  padding: 1rem;
  font-size: .9rem;
  font-weight: 600;
}

.fullbody-text_paragraph.is-white {
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0%;
  max-width: 40ch;
  padding: 1rem;
  font-size: .9rem;
  font-weight: 500;
}

.padding-section-fullbody {
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 8rem;
  display: flex;
}

.text-span-3 {
  color: var(--accent-color);
}

.image {
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section_slider {
  overflow: visible;
}

.slide-heading {
  font-size: 48px;
  line-height: 1.4;
  transition: all .4s;
}

.swiper-slide {
  text-align: center;
  border-radius: 20px;
  flex: none;
  width: 30%;
  height: 70vh;
  margin-top: 8vh;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.swiper-nav-btn {
  z-index: 40;
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 100%;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 20px;
  transition: all .3s;
  display: flex;
  position: absolute;
  top: 60%;
  left: 20%;
  transform: rotate(-20deg);
}

.swiper-nav-btn:hover {
  color: #00ffe1;
}

.swiper-nav-btn.prev:hover {
  color: var(--accent-color);
}

.swiper-nav-btn.next {
  left: auto;
  right: 20%;
  transform: rotate(20deg);
}

.swiper-nav-btn.next:hover {
  color: var(--accent-color);
}

.slide-content {
  z-index: 2;
  color: var(--accent-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.wheel-slider {
  position: relative;
}

.swiper-wrapper {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.slide-category {
  color: #dfdfdf;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.4;
  transition: all .6s;
}

.clone-the-child-of-this {
  width: 100%;
}

.slide-text-wrap {
  overflow: hidden;
}

.slide-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.swiper-nav-btn-icon {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.slide-inner {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.swiper-container {
  z-index: 1;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  transform: perspective(1200px);
}

.swiper-navigation {
  z-index: 40;
  justify-content: center;
  align-items: center;
}

.text-span-4 {
  color: var(--accent-color);
}

.spacer-for-unlocked-slider {
  height: 20rem;
}

.locked-foreground {
  z-index: 99;
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120%;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.chains {
  width: 100%;
  max-width: none;
  overflow: hidden;
  transform: translate(0, -3rem)scale(1.18);
}

.locked-foreground_wrapper {
  width: 100vw;
  display: none;
  overflow: hidden;
}

.legendaries_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.legendaries_col-left {
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 50%;
  display: flex;
}

.legendaries_col-right {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.legendries_img {
  z-index: 1;
  width: 45rem;
  position: relative;
}

.text-span-5 {
  color: var(--accent-color);
}

.legendaries_paragraph {
  margin-bottom: 2rem;
}

.legendaries-img_border {
  z-index: 0;
  border: 1px solid var(--accent-color);
  border-radius: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: none;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: translate(-.5rem, -.7rem);
}

.footer {
  background-color: #0e0e0e;
}

.footer_component {
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  display: flex;
}

.footer-col-2 {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  align-items: center;
  display: flex;
}

.footer-col-3 {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  display: flex;
}

.footer_solana-icon, .footer_twitter-icon, .footer-discord-icon {
  width: 2rem;
}

.footer_link {
  color: #fff;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: .8rem;
  font-weight: 400;
  text-decoration: none;
}

.section_cta {
  flex-flow: column;
  align-items: center;
  display: flex;
}

.cta-_text {
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: Montserrat, sans-serif;
  font-size: 17vw;
  font-style: italic;
  font-weight: 800;
  line-height: .8;
}

.cta-_text.is-first {
  font-size: 15vw;
  transform: translate(-11rem);
}

.cta-_text.is-second {
  font-size: 15vw;
  transform: translate(0);
}

.cta-_text.is-line-2 {
  transform: translate(3rem);
}

.cta-_text.is-line-1 {
  transform: translate(2rem);
}

.text-span-6 {
  color: var(--accent-color);
}

.padding-section_cta {
  flex-flow: column;
  align-items: stretch;
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  overflow: hidden;
}

.padding-section_legendaries {
  padding-top: 16rem;
  padding-bottom: 6rem;
}

.hero_socials-component {
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 2%;
  left: 0%;
  right: 0%;
}

.hero-socials_col-right {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  align-items: center;
  display: flex;
}

.hero-socials_twittericon {
  color: #fff;
  transition: all .275s cubic-bezier(.77, 0, .175, 1);
  display: inline-block;
}

.hero-socials_twittericon:hover {
  color: var(--accent-color);
}

.hero-socials_discordicon {
  color: #fff;
  transition: all .275s cubic-bezier(.77, 0, .175, 1);
  display: inline-block;
}

.hero-socials_discordicon:hover {
  color: var(--accent-color);
}

.hero-socials_link {
  color: #fff;
}

.preloader-bar-2 {
  background-color: var(--accent-color);
  width: 50%;
  height: 100%;
}

.c-preloader-title {
  margin-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  overflow: hidden;
}

.preloader-bar-1 {
  background-color: #fff;
  border-radius: 1000px;
  justify-content: center;
  width: 60%;
  height: 100%;
  display: flex;
}

._w-preloader-content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.c-preloader-content {
  z-index: 5;
  position: absolute;
}

.preloader-text {
  color: #fff;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
}

.c-preloader {
  z-index: 9999;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

._w-preloader {
  background-color: rgba(19, 19, 19, 0);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.c-preloader-bar {
  background-color: #222;
  border-radius: 1000px;
  justify-content: center;
  width: 15em;
  height: .25em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.c-preloader-curtain {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.preloader-curtain {
  background-color: #131313;
  width: 50%;
  height: 100%;
  position: relative;
}

.preloader-curtain.right._2 {
  background-color: rgba(19, 19, 19, .5);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.preloader-curtain.left._2 {
  background-color: rgba(19, 19, 19, .5);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.cloneable-area {
  min-height: 50vh;
}

@media screen and (min-width: 1440px) {
  .sidebar_line-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -6vh;
    display: flex;
  }

  .sidebar_component {
    padding-top: 1.55rem;
    position: absolute;
  }

  .fullbody_wrapper {
    background-position: 50% 0;
    min-height: 200vh;
  }

  .image {
    object-fit: cover;
    min-height: 100%;
  }
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .main-wrapper {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .nav_button {
    color: #fff;
  }

  .section_hero {
    padding-top: 3rem;
  }

  .hero_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .fs-styleguide_heading-header {
    font-size: 4rem;
  }

  .section_hero-br {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 150vw;
  }

  .hero_alienimg {
    width: 60rem;
    min-width: 60rem;
    display: block;
  }

  .hero_headingbr.is-first {
    font-size: 20vw;
    transform: translate(-5rem);
  }

  .hero_headingbr.is-second {
    font-size: 20vw;
    transform: translate(5.9rem);
  }

  .whitelight.is-introduction {
    right: -33%;
  }

  .section_trailer {
    width: 100vw;
  }

  .introduction_button-wrapper {
    margin-top: 2rem;
  }

  .padding-section_introduction {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fullbody_wrapper {
    width: 100vw;
  }

  .fullbody-text_paragraph.is-black {
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
  }

  .padding-section-fullbody {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .slide-heading {
    font-size: 36px;
  }

  .swiper-slide {
    width: 45%;
    height: 60vh;
  }

  .swiper-nav-btn.prev {
    left: 16%;
  }

  .swiper-nav-btn.next {
    right: 16%;
  }

  .wheel-slider {
    position: relative;
  }

  .slide-category {
    font-size: 12px;
  }

  .legendaries_col-left {
    width: 43%;
  }

  .legendries_img {
    min-width: 11rem;
  }

  .footer {
    width: 100vw;
  }

  .padding-section_cta, .padding-section_legendaries {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .hero_socials-component {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .spacer-medium {
    padding-top: 1.25rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
  }

  .spacer-xlarge {
    padding-top: 2rem;
  }

  .spacer-large {
    padding-top: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .section_hero-br {
    width: 200vw;
  }

  .hero_alienimg {
    width: 35rem;
    min-width: 35rem;
    max-width: 60rem;
    height: 45rem;
    transform: scale(1);
  }

  .whitelight.is-introduction {
    top: -31%;
    right: -63%;
  }

  .padding-section_introduction, .padding-section-fullbody {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .swiper-slide {
    width: 60%;
  }

  .swiper-nav-btn {
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
  }

  .swiper-nav-btn.prev {
    left: 14%;
  }

  .swiper-nav-btn.next {
    right: 14%;
  }

  .swiper-nav-btn-icon {
    width: 40%;
  }

  .legendaries_component {
    flex-flow: column;
    align-items: center;
  }

  .legendaries_col-left {
    align-items: center;
    width: 90%;
  }

  .legendaries_col-right {
    order: -1;
  }

  .legendaries_paragraph {
    text-align: center;
  }

  .padding-section_cta, .padding-section_legendaries {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .heading {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_row {
    flex-wrap: wrap;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .button, .button.is-secondary {
    width: 80vw;
  }

  .hero_heading {
    font-size: 2.5rem;
  }

  .section_hero-br {
    width: 400vw;
  }

  .hero_alienimg {
    width: 45rem;
    min-width: 45rem;
    height: 60rem;
    transform: scale(1.2);
  }

  .introduction_component {
    flex-flow: column;
    align-items: center;
    display: flex;
  }

  .introduction_button-wrapper {
    flex-flow: column;
  }

  .introduction_button-wrapper.is-cta {
    align-items: center;
  }

  .introduction_paragraph {
    text-align: center;
  }

  .fullbody_wrapper {
    justify-content: space-between;
  }

  .fullbody_text-wrapper {
    justify-content: flex-start;
    align-items: center;
    margin-top: 6rem;
    margin-left: 0;
  }

  .fullbody_text-wrapper.is-second {
    justify-content: flex-start;
    align-items: center;
    margin-right: 0;
  }

  .fullbody-text_heading.is-black {
    color: #000;
    text-align: center;
  }

  .fullbody-text_heading.is-white {
    text-align: center;
  }

  .fullbody-text_paragraph.is-black {
    color: #000;
    text-align: center;
  }

  .fullbody-text_paragraph.is-white {
    text-align: center;
  }

  .image {
    filter: grayscale(0%);
  }

  .swiper-slide {
    height: 65vh;
  }

  .swiper-nav-btn.prev {
    left: 5%;
  }

  .swiper-nav-btn.next {
    right: 5%;
  }

  .footer_component {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .heading-2 {
    text-align: center;
  }
}

#w-node-b224ec27-30fa-be84-48bf-7ed471542af3-7ab36049 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-7ab36049 {
  justify-self: start;
}

#w-node-_5d224905-8a1e-1460-7532-d38cb7ec37c1-7ab36049, #w-node-_40538c8c-870b-b365-34c4-2a06f0f8567d-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-7ab36049 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-7ab36049 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-7ab36049 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-7ab36049 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-7ab36049 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-7ab36049 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-7ab36049 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-7ab36049 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-7ab36049 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-7ab36049, #w-node-_30684373-af34-3818-02a4-e58b3ffef3e5-7ab36049, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ea-7ab36049, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ef-7ab36049, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f4-7ab36049, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f9-7ab36049, #w-node-_30684373-af34-3818-02a4-e58b3ffef3fe-7ab36049, #w-node-_30684373-af34-3818-02a4-e58b3ffef403-7ab36049, #w-node-_30684373-af34-3818-02a4-e58b3ffef408-7ab36049, #w-node-_30684373-af34-3818-02a4-e58b3ffef40d-7ab36049, #w-node-_30684373-af34-3818-02a4-e58b3ffef412-7ab36049 {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef416-7ab36049 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef417-7ab36049 {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef41a-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-7ab36049, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd98-7ab36049 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-7ab36049 {
  justify-self: start;
}


